<!-- templates/reservations/reservation_detail.html -->
{% extends 'base.html' %}

{% block content %}
    <h1>Reservation Details</h1>
    <p><strong>Customer:</strong> {{ reservation.customer.name }}</p>
    <p><strong>Table:</strong> #{{ reservation.table.number }}</p>
    <p><strong>Date:</strong> {{ reservation.date }}</p>
    <p><strong>Status:</strong> {{ reservation.status }}</p>

    <!-- Кнопка для возврата на список всех броней -->
    <a class="btn btn-secondary" href="{% url 'reservation_list' %}">Back to Reservation List</a>
{% endblock %}

